@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  min-width: 310px;
  line-height: 1.6;
  background-color: #fff;
  font-family: "Comfortaa", sans-serif;
  overflow: hidden;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f0db4f;
  border-radius: 10px;
}

li,
input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}